@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,500&display=swap');

:root {

    /* Primary colors */
    --Black: #3D3B48;
    --Green: #38CC8B;
    --Purple: #5E54A4;
    --Pink: #FF7979;

    /* secondary colors */
    --soft-purple: #A6A1CF;
    --gray: #b9b6d3;
    --soft-pink: #FF7979;
    --border-gray: #DEDEDE;

    /* shadow */
    --shadow: #3d3b483c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    background: var(--soft-pink);
    background-image: url(../images/bg-intro-mobile.png);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
    color: white;
    padding: 1em;
    margin: 2em auto;
}

#hero-wrapper {
    text-align: center;
    margin: 1em 0;
    padding: 1.2em;
}

h1 {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 1em;
}

h2 {
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    background-color: var(--Purple);
    border-radius: 10px;
    padding: 1.4em 2.2em;
    box-shadow: 0px 8px var(--shadow);
    margin-bottom: 2em;
}

h2 span {
    font-weight: 700;
}

p {
    font-size: 16px;
    font-weight: 500;
}

button {
    cursor: pointer;
    font-size: 15px;
    color: white;
}

button:hover {
    opacity: 70%;
}

#form-wrapper {
   padding: 1em;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 1.6em;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 8px var(--shadow);
}

.form div {
    margin-bottom: .6em;
}

.input-wrapper {
    width: 280px;
    display: flex;
    flex-direction: column;
}

.inner-input-wrapper {
    display: flex;
}

.error-msg {
    display: none;
    font-size: 11px;
    font-weight: 500;
    font-style: italic;
    color: var(--soft-pink);
    text-align: end;
    margin-top: -0.4em;
}

input {
    width: 100%;
    font-size: 14px;
    font-weight: 600;
    padding: 1.2em;
    border-radius: 6px;
    border: 1px solid var(--border-gray);
}


/* input:not(:focus):invalid {
    border-color: var(--Pink);
}

input:not(:focus):invalid ~ .error-msg {
    display: block;
} */



.error-icon {
   margin-left: -2.4em;
   margin-top: .8em;
}

.error-icon img {
    width: 24px;
    height: 24px;
    text-align: center;
}


.button {
    width: 100%;
}

button {
    background-color: var(--Green);
    text-transform: uppercase;
    padding: 1.2em 2.2em;
    width: 100%;
    border: none;
    box-shadow: 0px 5px var(--shadow);
    border-radius: 6px;
    margin-bottom: .6em;
}

.terms p {
    font-size: 11px;
    color: var(--gray);
    text-align: center;
    padding: 0 1.4em;
}

.terms a {
    text-decoration: none;
    color: var(--soft-pink);
}

.hidden {
    display: none;
}

@media screen and (min-width: 768px) {
    .container {
        padding: 0 4em;
    }

    #hero-wrapper {
        max-width: 480px;
    }

    h1 {
        font-size: 34px;
        line-height: 40px;
    }

    .input-wrapper {
        width: 397px;
    }
}

@media screen and (min-width: 1440px) {
    .container {
        flex-direction: row;
        max-width: 1300px;
        padding: 4em;
        margin: 4em auto;
    }

    #hero-wrapper {
        flex: 1;
        text-align: left;
        max-width: 525px;
        width: 100%;
    }

    h1 {
        font-size: 50px;
        line-height: 55px;
    }

    #form-wrapper {
        flex: 1;
        max-width: 540px;
        margin: 0;
    }

    .input-wrapper {
        width: 460px;
    }

}