@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
:root {
    /* Background gradient: */
    --Soft-violet: hsl(273, 75%, 66%);
    --Soft-blue: hsl(240, 73%, 65%);

    /* font */
    --Very-dark-grayish-blue: hsl(237, 12%, 33%);
    --Dark-grayish-blue: hsl(240, 6%, 50%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
}

body {
    width: 100%;
    background: linear-gradient(var(--Soft-violet), var(--Soft-blue));
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    margin: 10em auto;
    background-color: white;
    border-radius: 20px;
}

.left-section {
    flex: 1;
}

.right-section {
    flex: 1;
    padding: 1em;
    color: var(--Dark-grayish-blue);
    line-height: 1.5em;
}

.right-section h1 {
    color: var(--Very-dark-grayish-blue);
}






@media (max-width: 375px) {
   
    .container {
        max-width: 330px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 12em auto;
        font-size: 12px;
    }

    .left-section {
        position: absolute;
        top: 0;
        margin-top: 5em;
        text-align: center;
    }

    .left-section img {
        width: 240px;
        
    }
    
    .left-section img.box-illustration {
        width: 26%;
        position: absolute;
        margin-top: 4.4em;
        z-index: 1;
    }

    .left-section img.shadow-illustration {
        margin-top: -17em;  
    } 
    
    .right-section {
        margin-top: 12em;
        padding: 2em;
    }

    .right-section h1 {
        margin-bottom: 1em;
        text-align: center;
        
    }

    .right-section .qna-container {
        display: flex; 
        flex-direction: column;   
        gap: 2em;
    }

    .right-section .qna-section {
        display: flex; 
        flex-direction: column;   
    }

    .right-section .question {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1em;
    }

    .right-section img {
        height: 100%;
    }

    .right-section hr {
        border: .8px solid hsl(240, 5%, 91%);
        border-radius: 10px;
    }

    .right-section p {
        margin-top: 1em;
    }
}