* {
 font-family: 'Outfit', sans-serif;

}



body {
    margin: 0;
    width: 100%;
    overflow-x: hidden;
    background-color: #F6F9F8;
    color: #2B2A45;
}

label {
    display: block;
    font-size: 1.3rem;
 
   
}


.question {
    margin-bottom: .5rem;
}

form {
    width: 80vw;
   
}

fieldset {
    background-color: #2B2A45;
    color: #EBEDEC;
    border: none;
    border-radius: 5px;
    padding: 1rem 2.5rem;
    margin: 2rem 0;
   

}

h1 {
    margin: 0.5em auto;
    text-align: center;
    font-size: 2.3rem;
    padding-top: 1em;
    font-weight: 700;
}

#description {
    margin: 0em auto;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 400;
}

form {
    display: block;
    margin: 0 auto;
    width: 50vw;
    
}

p {
    text-align: left;
    font-size: 1.2em;
}

select {
    width: 100%;
}

input,
select,
textarea,
.submit-button {
    width: 100%;
    min-height: 2.5rem;
    margin: 0 auto;
    border-radius: 5px;
    vertical-align: middle;
    padding: 0.375rem 0.75rem;
    box-sizing: border-box;
    font-size: 1rem;
    color: gray;
    
}

.form-group {
    margin: 1.75rem auto;
    padding: 0.3rem;
    
}

.input-radio,
.input-checkbox {
    width: unset;
    margin: 0 0.5rem 0 0;
    vertical-align: middle;
}

.submit-button {
    background-color: #B74158;
    font-size: 1rem;
    padding: 10px 0;
    color: #EBEDEC;
    border: 1px solid #B74158;
}

/* footer */
footer {
    display: flex;
    justify-content: space-around;
    background-color: #2B2A45;
    color: #F6F9F8;
    padding: 2rem;
    font-size: 1em;
    margin-top: 80px;


}

#footer-left {
    display: flex;
    padding-left: 20px;
}

#footer-middle {
    display: flex;

}

#footer-right {
    display: flex;
    padding-right: 60px;

}

ul {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: #F6F9F8;
    flex-direction: column;
    margin: 0.5rem 0;
}

a:hover {
    color:#B74158;
}

.company {
    font-size: 1.2rem;
}

