:root {
    --Purple-main: hsl(273, 85%, 13%);
    --Soft-purple: hsl(271, 12%, 34%);
    --Light-purple: hsl(276, 100%, 99%);
    --Green-accent: hsl(150, 100%, 63%);
    --White: #FFF; 
}

@font-face {
    /* Heading */
    font-family: "Fraunces144_SemiBold"; 
    src: url(../assets/fonts/fraunces/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf);
}

@font-face {
    /* paragraph */
    font-family: "Manrope_regular";
    src: url(../assets/fonts/manrope/Manrope-VariableFont_wght.ttf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
}

#heading,
#hero-main {
    background-color: var(--Purple-main);
    border: none;
}

#heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2em;
}

#hero-main,
#hero-overview div {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}


#hero-overview .hero-img {
    position: relative;
    margin-bottom: 2em;
    z-index: 1;
    text-align: center;
}

#hero-overview .hero-img img {
    width: 100%;
}


#hero-main {
    position: relative;
    width: 100%;
    /* Curved corners */
    border-radius: 100%/0 0 50px 50px;
    height: 342px;
    z-index: 0;
    gap: 3em;
    overflow: hidden;
    margin-top: -0.2em;
}


.patterns {
    overflow: hidden;
}

#hero-overview {
    width: 100%;
    margin-top: -2em;
    background-color: var(--Light-purple);
    border-radius: 100%/0 0 50px 50px;
    color: var(--Purple-main);
    padding-bottom: 3em;
    text-align: center;
}

#hero-overview div {
    gap: 1em;
    margin-top: 2em;
}

#hero-main span {
    text-decoration: underline solid 2px var(--Green-accent);
    text-underline-offset: .1em;
}

a {
    cursor: pointer;
}

#heading ul li a{
    color: var(--White);
    text-decoration: none;
}

#heading ul li a:hover {
    color: var(--Green-accent);
}

#heading ul li {
    border-bottom: 2px solid var(--Green-accent);
    padding-bottom: 0.1em;
}

#heading .logo {
    width: 6em;
}

h1 {
    color: var(--White);
}

.number {
    border: 1px solid var(--Purple-main);
    border-radius: 50%;
    width: 48px;
    height: 48px;
    text-align: center;
    padding: .25em 0;
    font-size: 1.25rem;

}

.button {
    width: 133px;
    margin-bottom: 8em;
}

button {
    cursor: pointer;
    width: 100%;
    padding: 1.2em 1em;
    background-color: var(--Green-accent);
    font-family: "Manrope_regular";
    border: 1px solid var(--Green-accent);
    font-weight: bold;
    width: 100%;
}

button:hover {
    color: var(--Green-accent);
    border: 1px solid var(--Green-accent);
    background-color: transparent;
}

#apply {
    margin: 3em auto;
}

.apply-description {
    position: relative;
    background-color: var(--Purple-main);
    color: var(--Light-purple);
    padding: 1.4em;
    text-align: center;
    margin-top: -3.4em;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.apply-description p {
    margin: 1em 0;
}

.apply-description .button {
    width: 172px;
    margin-bottom: 0;
}

.apply-description button {
    width: 100%;
    margin: 1.2em 0;
    text-align: center;
}

footer {
    position: relative;
    text-align: center;
}

.links ul{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2em;
}

.links ul li {
    list-style: none;
    margin: 1em;
}



@media screen and (min-width: 320px) {

    section {
        padding: 2em 1em;
    }

    .patterns {
        display: none;
    }

    #bg-pattern-left,
    #bg-pattern-right,
    #bg-pattern-bottom {
        display: none;
    }

    #hero-overview .hero-img {
        position: relative;
        gap: 1em;
        margin-top: -5em;
        margin-bottom: 2em;
        z-index: 1;
        text-align: center;
    }

    #hero-overview .hero-img img {
        width: 100%;
    }

    h1 {
        font-family: "Fraunces144_SemiBold"; 
        font-size: 2.6rem;
        line-height: 2.6rem;
        font-weight: 500;
    }
    
    h2 {
        font-family: "Fraunces144_SemiBold"; 
        font-size: 32px;
        line-height: 48px;
    }
    
    h3 {
        font-family: "Fraunces144_SemiBold"; 
        font-size: 28px;
        line-height: 36px;
    }
    
    p {
        font-family: "Manrope_regular";
        font-size: 16px;
        line-height: 28px;
    }

    .avatar {
        width: 281px;
    }

    .apply-description {
        padding: 1em;
    }

    .apply-description h2 {
        font-size: 1.5rem;
    }

    .apply-description p {
        font-size: .9rem;
    }

    #apply {
        text-align: center;

    }

}

@media screen and (min-width: 768px) {

    section {
        padding: 3em 2em;
    }

    #hero-main {
        padding-top: 2em;
        height: 420px;
    }

    .patterns {
        display: block;
        width: 250px;
        height: 170px;
        overflow: hidden;
    }

    .button {
        width: 133px;
        margin-bottom: 20em;
    }

    #bg-pattern-left {
        display: block;
        position: absolute;
        left: -11.2em;
        top : -1em;
        width: 270px;
    }
    #hero-overview .hero-img {
        position: relative;
        margin-top: -16em;
        z-index: 1;
        width: 500px;
    }
    
    #hero-overview .hero-img img {
        width: 100%;
    }

    #bg-pattern-right {
        display: block;
        position: absolute;
        left: 43em;
        top: 8em;
        width: 147px;
    }

    h1 {
        font-size: 3.125rem;
        max-width: 380px;
        line-height: 3.1rem;
    }

    #hero-overview {
        padding-top: 10em;
    }

    #hero-overview div {
        width: 36.5em;
        margin: 0em auto;
        flex-direction: row;
        flex-wrap: wrap;
        text-align: left;
        justify-content: flex-start;
    }

    #hero-overview p {
        width: 30em;
        margin-left: 7em;
        align-self: center;
        margin-top: -3em;
    }

    #hero-overview h3 {
        margin-left: 1em;
    }

    #hero-overview h3.number {
        margin-top: 4em;
    }

    #apply {
        text-align: left;
        
    }

    #apply h2 {
        font-size: 3rem;
    }

    #apply .apply-description {
        width: 32.125em;
        text-align: left;
        padding: 2em 3em;
        position: relative;
        left: 12em;
        top: -4em;
    }

    #apply .apply-description #bg-pattern-bottom {
        display: block;
        position: absolute;
        top: 16em;
        right: 1em;
        width: 170px
    }

    #apply .button {
        margin-bottom: 0;
    }
}

@media screen and (min-width: 1440px) {

    #hero-main {
        border-radius: 100%/0 0 150px 150px;
        min-height: 730px;
    }

    #bg-pattern-right {
        display: block;
        position: absolute;
        left: 83em;
        top: 27em;
        width: 147px;
    }

    #bg-pattern-left {
        display: block;
        position: absolute;
        left: -5.2em;
        top: -1em;
        width: 270px;
    }

    h1 {
        font-size: 80px;
        line-height: 80px;
        max-width: 635px ;
        margin-top: .5em;
    }

    h3 {
        font-size: 32px;
        line-height: 40px;
    }

    .button {
        width: 161px;
        margin-bottom: 22em;
    }

    button {
        font-size: 18px;
        
    }

    #heading {
        padding: 5em 8em;
    }

    #heading a {
        font-size: 18px;
    }

    #hero-overview {
        display: flex;
        flex-wrap: wrap;
        padding: 2em;
        padding-bottom: 6em;
        justify-content: center;
        border-radius: 100%/0 0 150px 150px;
    }

    #hero-overview .hero-img {
        position: relative;
        margin-top: -18em;
        z-index: 1;
        width: 767px;
        margin-left: 12em;
        margin-right: 10em;
    }
    #hero-overview .hero-img img {
        width: 100%;
        align-self: center;
    }

    #hero-overview h3,
    #hero-overview h3.number {
        margin-top: 0;
        margin-left: 0;
    }

    #hero-overview h3.number {
        margin-top: 1em;
        margin-bottom: 1em;
    }

    #hero-overview div {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
        width: 20em;
        margin: 2em;
    }

    #hero-overview p {
        width: 300px;
        align-self: center;
        margin-top: 0em;
        margin-left: 0em;
        margin-bottom: 2em;
        font-size: 18px;
        line-height: 32px;
    }

    #apply {
        text-align: center;
    }

    .avatar {
        width: 450px;
        position: relative;
        left: -20em;
    }

    #apply .apply-description {
        width: 730px;
        height: 413px;
        text-align: left;
        left: 32em;
        top: -12em;
        padding: 4em;
        align-items: flex-start;
    }

    #apply .apply-description p {
        font-size: 18px;
    }

    #apply .apply-description h2 {
        font-size: 56px;
    }

    #apply .apply-description button {
        width: 190px;
    }

    #apply .apply-description #bg-pattern-bottom {
        top: 20em;
    }
}



