<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .box {
            background-color: none;
            width: 40px;
            height: 40px;
        }

        .colored {
            background-color: bisque;
            width: 40px;
            height: 40px;
        }

        [v-clock] {
            display: none;
        }

        input {
            margin: 10px;
            display: block;
        }
    </style>
</head>
<body>

    <div id="app" v-cloak>

        <login-form />

        <input @keyup.enter="saveName(name)" v-model="name"/> 

        
        <!-- <div v-if="isVisible" class="box"></div> -->
        
        <div class="box">
            <div v-if="isColored" class="inner-box colored"></div>
        </div>
        <button @click.right="toggleBox">button!</button>        
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
        let app = Vue.createApp({
            data: function() {
                return {
                    // greeting: 'hello vue 3',
                    // isVisible: false,
                    name: 'enter your name',
                    isColored: false
                    
                }
            },
            methods: {
                toggleBox() {
                    this.isColored = !this.isColored
                },
                saveName(name) {
                    nameArray = []
                    alert(nameArray.push(name.value))
                }
            }
        })

        app.component('login-form',  {
            template: `
                <form @submit.prevent="handleSubmit">
                    <h1> {{title}} </h1>
                    <custom-input :modelValue="email" v-bind:label="emailLabel" />
                    <custom-input v-model="pwd" :label="pwdLabel" />
                    <button>Login</button>
                </form>

            `,
            components: ['custom-input'], //registering custom component
            data() {
                return {
                    title: 'Login Form',
                    email: '',
                    pwd: '',
                    emailLabel: 'Email',
                    pwdLabel: 'Password',
                }
            },
            methods: {
                handleSubmit() {
                    alert(this.email, this.pwd + 'submited!')
                    console.log(this.email, this.pwd + ' submited!')
                }
            }

        })

        app.component('custom-input', {
            template: `
                <label>
                    {{ label }}
                    <input v-model="inputValue" />
                </label>
            `,
            props: ['label', 'modelValue'], //you can use the label inside the template
            // computed: {
            //    // put inputValue as a key
            //     inputValue: {
            //         get() {
            //             //get the email and pwd value from parent component
            //             return this.modelValue
            //         },
            //         set(value) {
            //             this.$emit('update:modelValue', value)
            //         }
            //     }
            // },

            data() {
                return {
                    inputValue: '' //updates input
                }
            }
        })

        app.mount('#app')
    </script>
</body>
</html>