:root {
    /* black */
    --black: #050505;
    --vocab-color: #2d2d2d;
    --toggle-bg-color: #757575;
    --input-bg-color: #f4f4f4;
    --light-grey: #e9e9e9;
    --red: #ff5252;
    --purple: rgb(164, 69, 237);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 18px;
}

img {
    width: 100%;
}

.pointer {
    cursor: pointer;
}

.container {
    width: 100%;
    margin: 0 auto;
    max-width: 1000px;
    padding: 2em;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.icon-button-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2em;
}

.logo {
    margin-right: auto;
    width: 32px;
}

/* font-menu */

li {
    list-style: none;
}

li:hover {
    color: var(--purple)
}

.font-menu img {
    width: 12px;
    height: 6px;
}

.font-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    gap: 1em;
    margin-right: 1.6em;
    padding-right: 1.6em;
    border-right: 1px solid var(--light-grey);
}

.dropdown-menu {
    cursor: pointer;
    width:100%;
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    background-color: white;
    padding: 0.4em 0em;

}

.show-dropdown {
    display: block;
    opacity: 1;
    transition: opacity 0.3s ease;
}


/* font-menu ends */


/* toggle switch */
.toggle-button-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.8em;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--toggle-bg-color);
    transition: 0.4s;
}

.slider:hover {
    background: var(--purple);
}

.slider:before {
    position: absolute;
    content: "";
    width: 14px;
    height: 14px;
    background-color: white;
    transition: 0.4s;
    left: 4px;
    bottom: 3px;
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

input:checked + .slider:before {
    transform: translateX(18px);
}

.moon-icon {
    width: 20px;   
}
/* toggle switch ends*/



/* search bar */
.search-bar {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 1em;
    
}

.search-bar-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.search-bar-wrapper input {
    /* background: url(./assets/images/icon-search.svg) no-repeat center right 1.2em; */
    border-radius: 16px;
    background-color: var(--input-bg-color);
    border: 1px solid var(--input-bg-color);
    font-weight: bold;
    padding: 1em;
    padding-left: 1.2em;
    width: 100%;
    margin-bottom: 0.4em;

}

input[type="text"]:focus {
    border: 1px solid var(--purple);
   
}

.search-bar-wrapper img {
    cursor: pointer;
    margin-left: -2em;
    margin-bottom: 4px;
    width: 15.55px;
}

input[type="text"].error {
    border-color: var(--red);
}

.error {
    color: var(--red);
    margin-left: .2em;
    margin-bottom: 2em;
}
/* search bar ends */

/* hero-vocab */
p {
    font-size: 1.3rem;
    line-height: 24px;
}

h1 {
    color: var(--vocab-color);
    font-size: 3.6rem;
}

.phonetic {
    color: var(--purple);
}

button {
    border: none;
    background: none;
}

.hero-vocab-and-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2em;
}

.vocab {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
/* hero-vocab ends */

/* vocab-divider */
.vocab-divider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    margin-bottom: 2em;
}

hr {
    flex: 1;
    border: 1px solid var(--light-grey);
}
/* vocab-divider ends */

.meaning {
    margin-bottom: 2.6em;
}

.meaning p,
.synonyms p {
    font-size: 1.1rem;
    color: var(--toggle-bg-color);
    margin-bottom: 1em;
}

.synonyms p {
    margin-bottom: 0;
}

.meaning-list,
.synonyms-list {
    padding-left: 1em;
}

.meaning-list li::before {
    content: "• ";
    color: var(--purple);
    margin-right: 0.6rem;
  }

.synonyms {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 2em;
}

.synonyms ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1em;
}

.synonyms li {
    font-weight: bold;
    font-size: 1.1rem;
    color: var(--purple)
}

.example {
    padding-left: 1em;
    margin-top: .6em;
}

.source p,
.source a { 
    font-size: 0.8rem;
    color: var(--toggle-bg-color);
}

.source a {
    color: var(--vocab-color);
    margin: 0 1em;
}

.source img {
    width: 12px;
    height: 12px;
    margin-left: 0.4em;
}
